html,body {
    height: 100%;
}

body {
    font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
}

#splash {
    /*fixedで全面に固定*/
	position: fixed;
	z-index: 99999;
	width: 100%;
	height: 100%;
	background:#f1dcdc;
	text-align:center;
	color:#fc6dc0;
}

/* Loadingバー中央配置　*/
#splash_text {
	position: absolute;
	top: 50%;
	left: 50%;
  z-index: 99999;
	width: 100%;
	transform: translate(-50%, -50%);
	color: #fff;
}

#logo {
    width: 400px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
}

#particles-js {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 700px;

}

#wrapper {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: url(../images/hanabira.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 888;
    
}

@media (max-width: 768px) {
    #wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        background: url(../images/hanabira.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
    



#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  line-height: 1;
  z-index: 99;
}
#page-top a {
  text-decoration: none;
  color: #fff;
  width: 90px;
  padding: 28px 5px;
  text-align: center;
  display: block;
  background-image: url(../images/sakura-icon01-cs2.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
  transition: all .3s ease;
  font-size: 12px;
  text-align: center;
}
#page-top a:hover {
  text-decoration: none;
  opacity: .5;
}

#pc-menu {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.center {
    width: 5%;
    padding: 10px;
  }
  
  .left,
  .right {
    width: 35%;
    padding: 10px;
  }



  .right nav ul li {
    list-style: none;
    padding-top: 50px;
    font-size: 34px;
    font-weight: bold;
  }

  .right nav ul li a {
    text-decoration: none;
    color: #826060;    
  }

 .menu-list a:hover {
    cursor: pointer;
    color: #4FBCDE;
  }

  .menu-list li a{
    /*テキストの基点とするためrelativeを指定*/
	position: relative;
    /*はみ出る要素を隠す*/
	overflow: hidden;
	padding:10px 50px;
}

.menu-list li span{
    /*絶対配置でテキストの位置を決める*/
	position: absolute;
	left: 50%;
	top:0;
    /*アニメーションの指定*/
	transition: all .5s;
	transform: translate(0, 0);/*X方向に-50% ※中央寄せにするため*/
  /*ブロック要素にして透過なし、テキスト折り返しなし*/  
	display: block;
	opacity:1;
	white-space: nowrap;
}

/*差し替わるテキストの設定*/
.menu-list li span:nth-child(2){
	opacity:0;/*透過0に*/
    transform: translate(0,100%);/*X方向に-50% Y方向に100%*/
}

/*hoverするとテキストが入れ替わる設定*/
.menu-list li:hover span:nth-child(1){
	opacity:0;/*透過0に*/
    transform: translate(0,-100%);/*X方向に-50% Y方向に-100%*/
}

.menu-list li:hover span:nth-child(2){
	opacity:1;/*不透明に*/
	transform: translate(0, 0);/*X方向に-50% Y方向に0*/
}


#menu-sp img {
    position: absolute;
    top: 500px;
    right: 50px;
}

@media screen and (min-width: 768px) {
    
  #menu-sp,
  .sp-menu,
  #close {
    display: none;
  }
  }

@media screen and (max-width: 767px) {
  body {
    min-width: 375px;
    margin: 0;
  }

  /* PC用ナビゲーション非表示 */
  .menu-list {
    display: none;
  }

  /* ハンバーガーメニュー */
  #menu-sp {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    z-index: 999;
  }


   /* スマホ用ナビゲーションの表示切替 */
   /* 初期状態、レイアウトと非表示設定 */
   #nav-sp {
    background-color: #fdeff2;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    z-index: 9999;
  }


     /* ×ボタン */
     #close {
      position: absolute;
      top: 20px;
      right: 20px;
    }
  
    /* ナビゲーションメニュー用ロゴ */
    #logo-sp {
      margin: 80px 0 30px 20px;
    }

     /* ナビゲーションのリンクの装飾設定 */
   #nav-sp > a {
    display: block;
    text-decoration: none;
    margin-top: 50px;
    text-align: center;
  }
  #nav-sp > a:link {
    color: #826060;
  }
  #nav-sp > a:visited {
    color: #826060;
  }
  #nav-sp > a:hover {
    color: #4FBCDE;
  }
  #nav-sp > a:active {
    color: #826060;
  }

}


.title-h2 {
    font-size: 40px;
    text-align: center;
    color: #826060; 
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Shippori Mincho', serif;
}


span.smoothText {
	overflow: hidden;
	display: block;
}

/* アニメーションで傾斜がついている文字列を水平に戻す*/
span.smoothTextTrigger{
	transition: .8s ease-in-out;
	transform: translate3d(0,100%,0) skewY(12deg);
	transform-origin: left;
	display: block;
}
span.smoothTextTrigger.smoothTextAppear{
    transform: translate3d(0,0,0) skewY(0);
}


#me {
    width: 100%;
    background: url(../images/sakurahana.png);
    background-color: #fff;
    display: flex;
}

.left {
  width: 300px;
}

.icon img {
  width: 300px;
}

#me .left {
  width: 40%;
  padding: 10px;
  margin-top: 80px;
  text-align: right;
}

#me .right {
    width: 40%;
    padding: 10px;
    margin-top: 80px;
    margin-left: 100px;
    text-align: left;
    line-height: 3rem;
}

.about-span {
    font-size: 20px;
    color: #826060;
}


.intro {
    text-align: center;
    font-weight: 400;
    margin-top: 60px;
    margin-bottom: 50px;
}

#center {
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    #me {
        display: flex;
        flex-direction: column;
        text-align: center;

    }

    #me .left {
      padding: 10px;
      text-align: center;
      margin: 0 auto;
      width: 250px;
    }

    #me .right {
      padding: 10px;
      line-height: 2rem;
      margin: 0 auto;
      font-size: 14px;
  }

}
    

#works {
  padding-top: 100px;
}

/* fadeUp */

#worksitem img {
    display: block;
}

/* fadeUp */

.fadeUp{
    animation-name:fadeUpAnime;
    animation-duration:0.8s;
    animation-fill-mode:forwards;
    opacity:0;
    }
    
    @keyframes fadeUpAnime{
      from {
        opacity: 0;
      transform: translateY(100px);
      }
    
      to {
        opacity: 1;
      transform: translateY(0);
      }
    }
    
    
    /* スクロールをしたら出現する要素にはじめに透過0を指定　*/
     
    .fadeUpTrigger{
        opacity: 0;
    }
    
    


    
.worksitem2 {
    padding-left: 50px;
    padding-right: 50px;
}

.worksitem p {
    text-align: center;
    padding-top: 20px;
}

.worksitem2 p {
    text-align: center;
    padding-top: 20px;
}


#skills {
  padding-top: 100px;
}

h4 {
    text-align: center;
    color: #826060; 
    font-size: 22px;
    margin-top: 80px;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
  #center {
      display: flex;
      flex-direction: column;
      text-align: center;
  }
}



.bgextend{
	animation-name:bgextendAnimeBase;
	animation-duration:1s;
	animation-fill-mode:forwards;
	position: relative;
	overflow: hidden;/*　はみ出た色要素を隠す　*/
	opacity:0;
}

@keyframes bgextendAnimeBase{
  from {
    opacity:0;
  }

  to {
    opacity:1;  
}
}

/*中の要素*/
.bgappear{
	animation-name:bgextendAnimeSecond;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}

@keyframes bgextendAnimeSecond{
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
}
}

/*左から右*/
.bgLRextend::before{
	animation-name:bgLRextendAnime;
	animation-duration:1s;
	animation-fill-mode:forwards;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #EEAABD;/*伸びる背景色の設定*/
}
@keyframes bgLRextendAnime{
	0% {
		transform-origin:left;
		transform:scaleX(0);
	}
	50% {
		transform-origin:left;
		transform:scaleX(1);
	}
	50.001% {
		transform-origin:right;
	}
	100% {
		transform-origin:right;
		transform:scaleX(0);
	}
}

/* スクロールをしたら出現する要素にはじめに透過0を指定　*/
.bgappearTrigger,
.bgLRextendTrigger{
    opacity: 0;
}


#skills {
    background-color: #e7e7eb;
}


.skillintro {
    display: flex;
    justify-content: center;
    gap: 80px;    
}

@media (max-width: 768px) {
    .skillintro {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.skillsitem {
    list-style: none;
    text-align: center;
}

.skillsitem img {
    width: 180px;
    height: 150px;
}


.skillsitem p {
    text-align: center;
    font-size: 14px;
}




.skillsitem span {
    font-size: 18px;
    margin-top: 50px;
    padding-top: 50px;
}


.skillintro2 {
    display: flex;
    justify-content: center;
    gap: 80px;
}

@media (max-width: 768px) {
    .skillintro2 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}



#skillintro3 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px;
}

@media (max-width: 768px) {
    .skillintro3 {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

#photos {
  padding-top: 100px;
}

.photos {
    width: 100%;
    height: 100%;
}

.p-photo {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


/*==================================================
スライダーのためのcss
===================================*/
/*画像の横幅を100%にしてレスポンシブ化*/
.gallery img {
	width: 350px;
    max-height:350px;
	vertical-align: bottom;/*画像の下にできる余白を削除*/
    margin: 0 auto;
}

/*メイン画像下に余白をつける*/

.gallery{
	margin:0 0 5px 0;
}

.gallery li{
list-style:none;
}

/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-arrow {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 0;
    width: 20px;
    height: 38px;
    color: transparent;
    z-index: 1;
    transition: opacity 0.5s;
    z-index: 1;
  }
  .slick-arrow:hover {
    opacity: 0.7;
  }
  
  /* 共通設定 */
  
  .slick-next::before,
  .slick-next::after,
  .slick-prev::before,
  .slick-prev::after {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    vertical-align: middle;
  }
  .slick-next::before,
  .slick-prev::before {
    width: 36px;
    height: 1px;
    background: #fff;
  }
  .slick-next::after,
  .slick-prev::after {
    width: 26px;
    height: 26px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
  
  /* next */
  
  .slick-next {
    right: 26px;
  }
  .slick-next::before {
    right: 0;
  }
  .slick-next::after {
    right: 4px;
    transform: rotate(45deg);
  }
  
  /* prev */
  
  .slick-prev {
    left: 26px;
  }
  .slick-prev::before {
    left: 0;
  }
  .slick-prev::after {
    left: 4px;
    transform: rotate(-135deg);
  }




/*選択するサムネイル画像の設定*/

.choice-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.choice-btn li{
	cursor: pointer;
	background:#333;
	width: 10%;
    list-style:none;
}

.choice-btn li img{
	opacity: 0.4;/*選択されていないものは透過40%*/
    width: 100%;
    height: 50%;
}

.choice-btn li.slick-current img{
	opacity: 1;/*選択されているものは透過しない*/
}





#contact {
    margin: 0 auto 300px auto;
    background-color: #fff;
    width: 100%;
    height: 500px;
    max-width: 960px;
    padding-top: 100px;
  }
  
.contact-title {
        border-bottom: 2px solid rgb(189, 155, 155)
    }
    
    .container {
        max-width:600px;
        margin:0 auto;
        text-align:center;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        background-color:#FAFAFA;
      }
      .head {
        -webkit-border-radius:6px 6px 0px 0px;
        -moz-border-radius:6px 6px 0px 0px;
        border-radius:6px 6px 0px 0px;
        background-color: #EEAABD;
        color: #826060;
      }
      h2 {
        text-align:center;
        padding:18px 0 18px 0;
        font-size: 1.4em;
      }
      input {
        margin-bottom:10px;
      }
      textarea {
        height:100px;
        margin-bottom:10px;
      }
      input:first-of-type
      {
        margin-top:35px;
      }
      input, textarea {
        font-size: 1em;
        padding: 15px 10px 10px;
        font-family: 'Source Sans Pro',arial,sans-serif;
        border: 1px solid #cecece;
        background: #d7d7d7;
        color:#FAFAFA;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 80%;
        max-width: 600px;
      }
      ::-webkit-input-placeholder {
         color: #FAFAFA;
      }
      :-moz-placeholder {
         color: #FAFAFA;  
      }
      ::-moz-placeholder {
         color: #FAFAFA; 
      }
      :-ms-input-placeholder {  
         color: #FAFAFA;  
      }
    #submit     {
        margin-top:15px;
        margin-bottom:25px;
        background-color:#2ABCA7;
        padding: 12px 45px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #2ABCA7;
        -webkit-transition: .5s;
        transition: .5s;
        display: inline-block;
        cursor: pointer;
        width:30%;
        color:#fff;
      }
      #submit:hover, .button:hover {
        background:#1958a0;
      }
      label.error {
          font-family:'Source Sans Pro',arial,sans-serif;
          font-size:1em;
          display:block;
          padding-top:10px;
          padding-bottom:10px;
          background-color:#d89c9c;
          width: 80%;
          margin:auto;
          color: #FAFAFA;
          -webkit-border-radius:6px;
          -moz-border-radius:6px;
          border-radius:6px;
      }
      /* media queries */
      @media (max-width: 700px) {
        label.error {
          width: 90%;
        }
        input, textarea {
          width: 90%;
        }
        button {
          width:90%;
        }
        body {
        padding-top:10px;
        }  
      }
      .message {
          font-family:'Source Sans Pro',arial,sans-serif;
          font-size:1.1em;
          display:none;
          padding-top:10px;
          padding-bottom:10px;
          background-color:#EEAABD;
          width: 80%;
          margin:auto;
          color: #FAFAFA;
          -webkit-border-radius:6px;
          -moz-border-radius:6px;
          border-radius:6px;
      }
  
footer {
    width: 100%;
    height: 300px;
    background: url(../images/sakurahana.png);
    text-align: center;
    list-style: none;
    font-size: 24px;
    color: #826060;
    margin-top: 100px;
}

footer .menu-list li a {
    color: #826060;
    margin-top: 50px;
    font-size: 20px;
}
  
footer .menu-list li {
    margin-top: 20px;
}

footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

#twitter {
    margin-top: 50px;
}


.copy {
    color: #826060;
    font-size: 16px;
    margin-top: 40px;
}